.floverCatalog {
    width: 100%;
    height: auto;
    @include flexCentCent;

    &__frame {
        width: 95%;
        border: solid 100px $light-rose-frame;
        padding: 45px 51px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 20%;
        height: auto;
        position: relative;
        width: 23%;
        height: auto;
        position: relative;
        margin: 1%;

        &__img {
            width: 100%;
            height: 100%;
        }

        &__price {
            width: 88px;
            height: 44px;
            background-color: $price-backgr-color;
            @include flexCentCent;
            opacity: 0.85;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }
        &__text {
            font-size: 15.5px;
            font-family: 'Montserrat';
        }
    }

    &__text {
        width: 50%;
        @include flexCentCent;
        flex-direction: column;

        &__title {
            font-family: 'Merriweather';
            font-size: 50px;
            margin-bottom: 39px;
        }        
    }

    &__button {
        @include roseButton;

        &:hover {
            @include roseButton-hover;
        }
    }
}