// Font's colors
$main-blue: #a1b8d0;
$main-rose: #d8aeae;
$font-white: #ffffff;
$testimon-text-color: #3b3e41;

// Frame's colors
$light-rose-frame: #fffafa;
$light-blue-frame: #e7f1fc;

// Price color
$price-backgr-color: #ddd0cd;

// Button's colors
$rose-button-color: #faece9;
$button-color-grey-text:#36393c;
$blue-button-color: #dcebfc;
$white-blue-button-color: #80a8d6;
$white-rose-button-color: #ec7685;

// h2 font-size & font family
$h2-fontSize: 50px;
$h2-fontFamily: 'Merriweather';

// Subtitle font-size & font family
$subtitle-fontSize: 17px;
$subtitle-fontFamily: 'Montserrat';
$contacts-text-size: 30px;
$contacts-text-fontFamily: 'PlayfairDisplay';

// Flover word color
$flover-word-color: #fdd5e3;
